
body{
	background-image: url("background.jpg");
	
}
img{
	cursor: pointer;
}
h3{
	font-size: 17px;
	color: blue;
}

.border{
	background-color: green;
  	border: 7px solid green;
  	height: 100px;
  	width: 100px;
  }

.enemies .border{
	height: 150px;
  	width: 150px;
  	background-color: red;
  	border: 7px solid red;
  	position: relative;
}
.battles .border{
	height: 150px;
  	width: 150px;
  	background-color: red;
  	border: 7px solid red;
  	position: relative;
}

.heros{
	float:left;
}

.enemies{
	float:left;
	
	
}




